<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Parameterization Test Suite">
    <test name="Regression1" preserve-order="false">
        <classes>

            <class name="newDriverSuite.NewClass">
                <methods>
                    <include name="homePageTest" />
                    <include name="LoginPageTest" />
                    <include name="MyAccountPageTest" />
                    <include name="testAccessibilityWithOptions" />
                </methods>
            </class>
        </classes>
    </test>

</suite>